@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-800 antialiased;
}

a {
  @apply underline-offset-4;
}

.hero-grid {
  background-size: 22px 22px;
}
